[submodule "professorx/src/node_modules/ejs"]
	path = professorx/src/node_modules/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "professorx/src/node_modules/mongoskin"]
	path = professorx/src/node_modules/mongoskin
	url = git://github.com/guileen/node-mongoskin.git
